<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Chrome index</title>
    <link rel="shortcut icon" href="/static/img/icon/favorite.png">
    <link rel="stylesheet" href="/static/front/style.css">
    <script src="/static/front/jquery.js"></script>
    <script src="/static/front/verify.js"></script>
    <script src="/static/front/script.js"></script>
</head>

<body id="body">
<div id="tabbar">
    <div id="diy">
        <img src="/static/img/icon/edit.png" alt="edit">
        <text>自定义</text>
    </div>
    <div id="user">
        <img id="avatar" src="/static/img/icon/user.png" alt="user">
        <div id="menu">
            <item id="update">个人空间</item>
            <cut id="cut"></cut>
            <item id="inout">登录</item>
        </div>
    </div>
</div>
<div id="nick">Chrome</div>
<div id="search">
    <img src="/static/img/icon/search.png" alt="search">
    <input id="input" autocomplete="off" tabindex="1">
    <div id="engine">
        <img id="select" src="/static/img/icon/Google.png" alt="google" title="Google">
        <div id="content">
            <img src="/static/img/icon/Baidu.png" alt="baidu" title="Baidu">
            <img src="/static/img/icon/360.png" alt="360" title="360">
            <img src="/static/img/icon/Bing.png" alt="bing" title="Bing">
            <img src="/static/img/icon/Sogou.png" alt="sogou" title="Sogou">
        </div>
    </div>
</div>
<div id="box">
</div>
<div id="mask"></div>
</body>

</html>