<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Chrome Index</title>
    <link rel="shortcut icon" href="/static/img/icon/favorite.png">
    <link rel="stylesheet" href="/static/front/m-style.css">
    <script src="/static/front/jquery.js"></script>
    <script src="/static/front/m-script.js"></script>
</head>
<body>
<div id="alertBox"></div>
<nick>Chrome</nick>
<div id="search">
    <div id="engine">
        <img id="select" src="/static/img/icon/Google.png" alt="google" title="Google"  order="0">
        <div id="content">
            <img src="/static/img/icon/Baidu.png" alt="baidu" title="Baidu" order="1">
            <img src="/static/img/icon/360.png" alt="360" title="360" order="2">
            <img src="/static/img/icon/Bing.png" alt="bing" title="Bing" order="3">
            <img src="/static/img/icon/Sogou.png" alt="sogou" title="Sogou" order="4">
        </div>
    </div>
    <label for="input"><input id="input" placeholder="[回车结束]" autocomplete="off" tabindex="1"></label>
    <img src="/static/img/icon/search.png" alt="search">
</div>
<div id="box"></div>
<div id="inout">
    <img src="/static/img/icon/user.png" alt="avatar" id="avatar">
    <button>登录</button>
</div>
</body>
</html>